/* Resetting styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Styling for player cards */
.player-card {
  position: relative;
  border: 1px solid #ccc;
  margin: 10px;
  overflow: hidden;
  width: 300px; /* Set a fixed width for the cards */
  height: 300px; /* Set a fixed height for the cards */
  display: inline-block; /* Display cards in a row */
  transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

.player-card:hover {
  transform: scale(1.05); /* Increase the size on hover */
}

.player-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.player-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  z-index: 1;
}

.player-card-content {
  position: relative;
  z-index: 2;
}

.player-card h3 {
  color: #fff;
  font-size: 1.8em;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.player-card p {
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.player-card button {
  background-color: #ff4081;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  position: relative;
  margin-top: 50px;
  margin-left: 13px;
  z-index: 3;
}

.player-card button:hover {
  background-color: #d81b60;
}

